body{
    background-color: rgb(7, 7, 60);
    height: auto;
}

.fheader{
    width: 102%;
    height: 150px;
    background-color: black;
    margin-left: -10px;
}

.fsheader{
    width: 102%;
    height: 45px;
    background-color: rgb(3, 0, 38);
    margin-left: -10px;
}

.penerimaan{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 2em;
    position: absolute;
    margin-top: -170px;
    margin-left:180px ;
}

.stvrheader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.5em;
    position: absolute;
    margin-top: -140px;
    margin-left:180px ;
}

.logostvheader{
    width: 10em;
    height: 8em;
    position: absolute;
    margin-top: -210px;
}

.stlheader{
    width: 2px;
    height: 7em;
    background-color: white;
    position: absolute;
    margin-top: -200px;
    margin-left: 150px;
}

.home{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: #eaff00;
    position: absolute;
    margin-top: -65px;
    margin-left: 650px;
}

.stlheader2{
    width: 130px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    margin-top: -30px;
    margin-left: 650px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffb300;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #090258;
    display: block;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .garistiga{
    color: hsl(0, 0%, 100%);
    margin-top: -75px;
    position: absolute;
  }

  .garistiga:hover{
    filter: brightness(60%);
  }

  .mainmenubutton{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #090258;
    display: block;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 400px;
  }
  
  .sidenav a:hover {
    color: #eaff00;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .ftlat{
    width: 80em;
    height: 45em;
    border-radius: 3em;
    background-color: #0f03bf;
    margin-left: 6em;
    filter: brightness(80%);
  }

  .fteks{
    width: 50em;
    height: 40em;
    border-radius: 1em;
    background-color: #bf6403;
    margin-left: 7.5em;
    filter: brightness(80%);
    position: absolute;
    margin-top:-700px ;
  }

  .ffasil{
    width: 24em;
    height: 21em;
    border-radius: 1em;
    background-color: #7d03bf;
    margin-left: 60em;
    filter: brightness(80%);
    position: absolute;
    margin-top:-740px ;
  }

  .fmap{
    width: 24em;
    height: 18em;
    border-radius: 1em;
    background-color: #ff6044;
    margin-left: 60em;
    filter: brightness(80%);
    position: absolute;
    margin-top:-390px ;
  }
 
  .foto54{
    width: 43em;
    height: 30em;
    position: absolute;
    border-radius: 2em;
    margin-top: -670px;
    margin-left: 180px;
  }

  .teks1{
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #eaff00;
    position: absolute;
    margin-top: -186px;
    margin-left: 390px;
  }

  .teks2{
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700px;
    font-style: bold;
    color: #ffffff;
    position: absolute;
    margin-top: -170px;
    margin-left: 428px;
  }

  .teks3{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200px;
    color: #ffffff;
    position: absolute;
    margin-top: -155px;
    margin-left: 325px;
  }

  .ulfasil{
    position: absolute;
    color: #ffffff;
    margin-top: -690px;
    margin-left: 38em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 26px;
  }

  .lifasil{
    font-weight: 300px;
  }

  .google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 16em;
    width: 20em;
    left: 0;
    top: 0;
    position: absolute;
    margin-top: -370px;
    margin-left: 62em;
    border-radius: 1em;
}


.ffooter{
  width: 102%;
  margin-left: -10px;
  height: 200px;
  background-color: rgb(0, 0, 0);
 margin-top: 1em;
}

.tstvfooter{
  color: white;
  font-size: 4em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  padding-left: 220px;
  margin-top: 20px;
  position: absolute;
  font-weight: bolder;

}

.flogofooter{
  width: 9em;
  height: 10em;
  background-color: black;
  position: absolute;
  margin-top: -195px;
  margin-left: 8px;
  border-radius: 1em;
}

.stvrfooter{
  width: 16em;
  height: 18em;
  position: absolute;
  margin-left:-45.5px ;
  margin-top: -258px;
}

.stlfooterstv{
  width: 890px;
  height: 10px;
  background-color: yellow;
  position: absolute;
  margin-left: 222px;
  margin-top: 100px;
}


.stlfooteradress{
  width: 2px;
  height: 140px;
  background-color: yellow;
  position: absolute;
  margin-top: -200px;
  margin-left: 1200px;
}
.sfstvrfooter{
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: absolute;
  margin-top: -190px;
  margin-left: 1240px;
  font-weight: 600;
}

.adressfooter{
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: absolute;
  margin-top: -180px;
  margin-left: 1240px;
  font-weight: 200;
}


.footertelp{
  color: white;
  position: absolute;
  margin-top: -129px;
  margin-left: 1242px;
 width: 1.5em;
 height: 1.5em;
}

.ftelpfooter{
  background-color: rgb(11, 113, 255);
  position: absolute;
  margin-top: -130px;
  margin-left: 1241px;
 width: 1.7em;
 height: 1.7em;
 border-radius: 3em;
}

.telpfooter{
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: absolute;
  margin-top: -130px;
  margin-left: 1280px;
  font-weight: 150;
}

.footerfax{
  color: white;
  position: absolute;
  margin-top: -114px;
  margin-left: 1242px;
 width: 1.5em;
 height: 1.5em;
}

.ffaxfooter{
  background-color: rgb(11, 113, 255);
  position: absolute;
  margin-top: -115px;
  margin-left: 1241px;
 width: 1.7em;
 height: 1.7em;
 border-radius: 3em;
}

.faxfooter{
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: absolute;
  margin-top: -115px;
  margin-left: 1280px;
  font-weight: 150;
}