body{
    background-color: rgb(7, 7, 60);
    height: auto;
}

.fheader{
    width: 102%;
    height: 150px;
    background-color: black;
    margin-left: -10px;
}

.fsheader{
    width: 102%;
    height: 45px;
    background-color: rgb(3, 0, 38);
    margin-left: -10px;
}

.penerimaan{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 2em;
    position: absolute;
    margin-top: -170px;
    margin-left:180px ;
}

.stvrheader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.5em;
    position: absolute;
    margin-top: -140px;
    margin-left:180px ;
}

.logostvheader{
    width: 10em;
    height: 8em;
    position: absolute;
    margin-top: -210px;
}

.stlheader{
    width: 2px;
    height: 7em;
    background-color: white;
    position: absolute;
    margin-top: -200px;
    margin-left: 150px;
}

.biaya{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: #eaff00;
    position: absolute;
    margin-top: -65px;
    margin-left: 671px;
}

.stlheader2{
    width: 130px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    margin-top: -30px;
    margin-left: 673px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffb300;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #090258;
    display: block;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .garistiga{
    color: hsl(0, 0%, 100%);
    margin-top: -75px;
    position: absolute;
  }

  .garistiga:hover{
    filter: brightness(60%);
  }

  .mainmenubutton{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #090258;
    display: block;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 400px;
  }
  
  .sidenav a:hover {
    color: #eaff00;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .fform{
    width: 70em;
    height: 25em;
    border-radius: 3em;
    background-color: #3203bf;
    margin-left: 10em;
    filter: brightness(80%);
  }

  .t1{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #eaff00;
    position: absolute;
    margin-top: -320px;
    margin-left: 300px;
  }

  .t2{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800px;
    color: #ffffff;
    position: absolute;
    margin-top: -260px;
    margin-left: 380px;
  }

  .t3{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 50px;
    color: #ffffff;
    position: absolute;
    margin-top: -210px;
    margin-left: 300px;
  }

  .bkembali{
    width: 100px;
    height: 30px;
    background-color: #eaff00;
    border-radius: 10px;
    position: absolute;
    margin-top: -40px;
    margin-left: 680px;
  }

  .kembali{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #090258;
    position: absolute;
    margin-top: -38.5px;
    margin-left: 687px;
  }

  .buttonkembali:hover{
    filter: brightness(60%);
}


